<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links.ejs') %>
</head>
<body>
    <h1>Sweet Succulents</h1>
    <nav>
        <a class="main-link" href="/succulents/new">Create a <b>new</b> succulent!</a>
    </nav>
    <div class="container">
        <%for (succulent of succulents) {%>
            <div class="container-1">
            <a href="/succulents/<%=succulent.id%>"><h5><%=succulent.name%></h5>
            <img src="<%=succulent.img%>" width="250"/></a>
            </div>
        <% } %>
    </div>
    
</body>
</html>