<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Succulents</title>
</head>
<body>
    <h1>Sweet Succulents</h1>
    
    <div>
    <%for (succulent of succulents) {%>
        <div>
            <a href="/succulents/<%=succulent.id%>"><h3><%=succulent.name%></h3></a>
            <img src="<%=succulent.img%>"/>
        </div>
        <% } %>
    </div>
</body>
</html>