.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px 50px 0px;
    
}

.container-1 {
    border-radius: 25px;
    text-align: center;
    border: 1px solid #426a5a;
    padding: 20px;
    margin: 0.5em;
    background-color: white;
    box-shadow: 5px 10px #7fb685;
}
h1 {
    text-align: center;
    padding: 1em;
    background-color: #ddae7e;
    color: #f0e6d7;
    margin: 0;
    background-image: url('https://i.imgur.com/YseKVvJ.jpg');
    background-blend-mode: darken;   
}

h1:hover {
    background-color: #f2c57c;
    color: #f0e6d7;
}

a {
    opacity: 1;
    color: #426a5a;
    
}

a:hover {
    text-decoration: none;
    opacity: 0.5;
    color: #7fb685;
    
}

body {
    background-image: url("https://i.imgur.com/Ni0PTX5.png");
    background-color: #f2c57c;
    font-family: 'Raleway', sans-serif;
    background-position: 100%;
    background-blend-mode: lighten;
}

nav {
    background-color: #ef6f6c;
    color: #f2c57c;
    text-align: center;
}

.main-link {
    color: #426a5a;
    font-size: 19px;
}

.main-link:hover {
    color: #426a5a;
    background-color: #ddae7e;
}

h2 {
    color: #ef6f6c;
}

.container-2 {
    border-radius: 25px;
    text-align: center;
    border: 1px solid #426a5a;
    padding: 20px;
    margin: 0.5em auto;
    background-color: white;
    box-shadow: 5px 10px #7fb685;
    max-width: 700px;
}

.container-0 {
    display: flex;
    justify-content: center;
}

p {
    font-size: 19px;
}

.form {
    margin: 50px 0px 0px 0px;
    background-color: #ef6f6c;
    box-shadow: 5px 10px #7fb685;
    border-radius: 25px;
    border: 1px solid #426a5a;
    padding: 20px;
}

.container-3 {
    border-radius: 25px;
    text-align: center;
    border: 1px solid #426a5a;
    padding: 20px;
    margin: 3.5em auto;
    background-color: white;
    box-shadow: 5px 10px #7fb685;
    max-width: 700px;
}

.form1 {
    margin: 2em;
    background-color: #ef6f6c;
    box-shadow: 5px 10px #7fb685;
    border-radius: 25px;
    border: 1px solid #426a5a;
    padding: 20px;
}

.container-4 {
    border-radius: 25px;
    text-align: center;
    border: 1px solid #426a5a;
    padding: 20px;
    margin: 50px 0px 20px 0px;
    background-color: white;
    box-shadow: 5px 10px #7fb685;
    max-width: 700px;
}